<!-- You use the <%- %> to include HTML from other files. Be sure that you only use it with HTML that you trust, otherwise you could introduce a security exposure. Try the new page out. -->

<!-- The data we are displaying is just the value of the secretWord variable — but we could also insert data into the page that was retrieved from the database, as we’ll see. -->

<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %>
<p>The secret word is: <%= secretWord %></p>
<p>Would you like to change it?</p>
<form method="POST">
	<!-- ** NOTE: I edited the label code and input properties. -->
	<label for="secretWord">New Secret Word:</label>
	<input name="secretWord" id="secretWord" /><br />
	<button>Submit</button>
</form>
<%- include("partials/footer.ejs") %>
